@import 'bootstrap';

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.background-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url('../../public/img/WALLPAPER_Mesa_de_trabajo.jpg');
    background-size: cover;
    background-repeat: repeat;
    z-index: -1; 
}


.navbar {
    position: relative;
    top: 50px; 
    background-color: rgba(255, 255, 255, 0.5) !important; 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 70%;
    border-radius: 20px;
}
.logo{
    width: 80px;
    height: 60px;
    border-radius: 50%;
}

.logo1{
    width: 80px;
    height: 60px;
    border-radius: 50%;
}


.nav-link{
    margin: 0px 20px 0px 20px;
    font-size: 1.5rem;
    color: blue;
}


.imgwow{
    height: 500px;
    width: 600px;
    border: 2px solid orange;
    border-radius: 20px;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .pwelcome{
    height: 500px;
    width: 600px;
    border: 2px solid orange;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.5rem;
  }

  .btn{
    width: 72px;
    height: 40px;
 }

.footer{
    font-size: 1.2rem;
}

.mt-150{
    margin-top: 150px;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: blue;
    background-color: blue;
    border: 2px solid orange;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

@media screen and (max-width: 991px){

    .logo1{ 
       display: none;
    }

    .mt-150{
        margin: 100px 0px 0px 0px;
        font-size: 1.5rem;
    }

    .form{
        margin: 10px;
    }
    .imgwow{
        height: auto;
        width: 340px;
        border: 2px solid orange;
        border-radius: 20px;
    }

    .pwelcome{
        height: auto;
        width: 340px;
        border: 2px solid orange;
        border-radius: 20px;
        padding: 10px;
        font-size: 1.5rem;
      }
      .customp{
        padding: 0px;
        width: 375px;
      }

} 